<a role="button" routerLinkActive="active" (click)='exit()'>Выйти</a>
<div class="container h-100">
<form (ngSubmit)="onSubmit()">
	<div style="position: relative;" *ngIf="product">
	  <div>
		<label for="name">Название</label>
		<input type="text" class="form-control" id="name" name="name" [(ngModel)]="product.name" value="{product.name}" #name="ngModel" required>
	  </div>
	  <div>
		<label for="price">Цена</label>
		<input type="text" class="form-control" id="price" name="price" [(ngModel)]="product.price" value="{product.price}" #price="ngModel" required>
	  </div>
	  <div>
		<label for="counter">Количество</label>
		<input type="text" class="form-control" id="counter" name="counter" [(ngModel)]="product.counter" value="{product.counter}" #counter="ngModel" required>
	  </div>
	</div>
	<br>
	<div class="form-group"><label class="form-control">{{message}}</label></div>
	<br>
	<div style="display: flex; justify-content: center;" class="form-group">
		<button [disabled]="name.invalid || price.invalid || counter.invalid" type="submit" style="width: 100%;" class="btn btn-success">Сохранить</button>
	</div>
	<a [routerLink]="['/product/fullcus', id]" style="width: 100%; " class="btn btn-primary active" role="button" routerLinkActive="active">Назад</a>
</form>
</div>