<form (submit)="registrationUser($event)">
	<div class="form-group" style="width: 40%; margin-left: auto; margin-right: auto;">
		<div>
			<h5>Логин</h5>
		</div>
		<input class="form-control input_data" type="text" placeholder="Login" id="login" name="login" [(ngModel)] = "user.login" #login="ngModel" required>
	</div>
	<div class="form-group" style="width: 40%; margin-left: auto; margin-right: auto;">
		<div>
			<h5>Пароль</h5>
		</div>
		<input class="form-control input_data" type="password" placeholder="Password" id="password" name="password" [(ngModel)] = "user.password" #password="ngModel" required>
	</div>
	<div class="form-group" style="width: 40%; margin-left: auto; margin-right: auto;">
		<div>
			<h5>Повторите пароль</h5>
		</div>
		<input class="form-control input_data" type="password" placeholder="Password retry" id="passwordCheck" name="passwordCheck" required>
	</div>
	<div class="form-group" style="width: 40%; margin-left: auto; margin-right: auto;">
		<input [disabled]="login.invalid || password.invalid" routerLink="authenticated" style="width: 100%;" class="btn btn-primary input_data" type="submit" value="Submit">
	</div>
	<div class="form-group" style="width: 40%; margin-left: auto; margin-right: auto;">
		<a [routerLink]="['/authenticated']" style="width: 100%; margin-left: auto; margin-right: auto;" class="btn btn-primary active" role="button" routerLinkActive="active">Вход</a>
	</div>
	<div class="form-group" style="width: 40%; margin-left: auto; margin-right: auto;">
		<label>{{ errorMessage }}</label>
	</div>
</form>