<a role="button" routerLinkActive="active" (click)='exit()'>Выйти</a>
<div class="container h-100">
	<div style="position: relative;">
	  <div>
		<label style="font-size: 20px;">Id :  </label> <label style="font-size: 15px;"> {{product.id}} </label>
	  </div>
	  <div>
		<label style="font-size: 20px;">Название :  </label> <label style="font-size: 15px;"> {{product.name}} </label>
	  </div>
	  <div>
		<label style="font-size: 20px;">Цена :  </label> <label style="font-size: 15px;"> {{product.price}} </label>
	  </div>
	  <div>
		<label style="font-size: 20px;">Количество :  </label> <label style="font-size: 15px;"> {{product.counter}} </label>
	  </div>
	</div>
</div>
<div style="display: flex; justify-content: center;" class="form-group">
	<a [routerLink]="['/product']" style="width: 100px; margin: 10px;" class="btn btn-primary active" role="button" routerLinkActive="active">Продукты</a>
	<a *ngIf="role" [routerLink]="['/product/change', product.id]" style="width: 100px; margin: 10px;" class="btn btn-primary active" role="button" routerLinkActive="active">Изменить</a>
</div>