<div *ngIf="info.token; else loggedOut">
	<form method="post"  name="form" #f="ngForm">
    
		<table ng-table="orders" class="table table-inverse">			
			<thead>
				<tr>
					<th scope="col" sortable="productName" (sort)="onSort($event)"><button>Название продукта</button></th>
					<th sortable="counterProduct" (sort)="onSort($event)"><button>Заказанное количество</button></th> 
				</tr>
			</thead>
			<tr *ngFor="let order of orders;let i=index">
				<td>{{order.productName}}</td>
				<td>{{order.counterProduct}}</td>
			</tr>
		</table>
		
		<div style="display: flex; justify-content: center;">
			<div style="margin-right: 15px;">
				<p>Фильтр : <input style="width:200px;" type="text" name="filt" [(ngModel)]="filt"></p>
				<button style="margin-right: 15px; width:260px;" class="btn btn-success active" (click)="filter()">Фильровать</button>
			</div>
		</div>
		
		<nav aria-label="Page">
			<ul class="pagination">
				<li class="page-item" *ngFor="let p of pages; let i=index">
					<a class="page-link active" href="" (click)="setPage(i,$event)" [ngClass]="{'active':i==page}">{{i}}</a>
				</li>
			</ul>
		</nav>
		
	</form>
	
	<div style="display: flex; justify-content: center;" class="form-group">
		<button style="width: 100px; margin: 10px;" class="btn btn-success active" (click)="logout()">Выход</button>
	</div>
	
</div>