<a role="button" routerLinkActive="active" (click)='exit()'>Выйти</a>
<table class="table table-inverse">
	<thead>
		<tr>
			<th>#</th>
			<th>Название</th>
			<th>В корзине</th>
			<th>Убрать из корзины</th>
			<th>Заказать товар</th>
		</tr>
	</thead>
	<tbody *ngFor="let baskProd of basketProducts">	
		<tr>
			<th>{{baskProd.id}}</th>
			<th>{{baskProd.name}}</th>
			<th>{{baskProd.counter}}</th>
			<th><button class="btn active btn-success" (click)='outBasket(baskProd)'>Убрать</button></th>
			<th><button class="btn active btn-danger" (click)='confirmedOrder(baskProd)'>Заказать</button></th>
		</tr>
	</tbody>
</table>
<hr>
<div style="display: flex; justify-content: center;" class="form-group">
	<a [routerLink]="['/product']" style="width: 100px; margin: 10px;" class="btn btn-primary active" role="button" routerLinkActive="active">Продукты</a>
	<a [routerLink]="['/order']" style="width: 100px; margin: 10px;" class="btn btn-primary active" role="button" routerLinkActive="active">Заказы</a>
</div>