<div class="container h-100">
	<div class="form-group" style="width: 40%; margin-left: auto; margin-right: auto;">
		<a style="width: 100px; margin: 10px;" class="btn btn-warning active" role="button" routerLink="products">Продукты</a>
		<a style="width: 100px; margin: 10px;" class="btn btn-warning active" role="button" routerLink="order">Заказы</a>
		<a *ngIf="authority === 'admin'" style="width: 220px; margin: 10px;" class="btn btn-warning active" role="button" routerLink="admin">Панель администратора</a>
		<a *ngIf="!authority" style="width: 130px; margin: 10px;" class="btn btn-info active" routerLink="auth/login">Авторизация</a>
	</div>
	<router-outlet></router-outlet>
</div>