<html>
	<body>
		<div class="form-group" style="width: 40%; margin-left: auto; margin-right: auto;" *ngIf="info.token; else loggedOut">
			<form method="post" name="form" #f="ngForm" (ngSubmit)="onSubmit()">

				<div style="position: relative;">
					<div>
						<label>Название </label>
						<input class="form-control" name="name" [(ngModel)]="form.name">
					</div>
					<div>
						<label>Цена </label>
						<input class="form-control" name="price" [(ngModel)]="form.price">
					</div>
					<div>
						<label>Количество </label>
						<input class="form-control" name="counter" [(ngModel)]="form.counter">
					</div>	
					<br>
					<div style="display: flex; justify-content: center;" class="form-group">
						<button style="width: 100%;" class="btn btn-success">Сохранить</button>
					</div>
				</div>
			
			</form>
		</div>
		
		<div style="display: flex; justify-content: center;" class="form-group">
			<button style="width: 100px; margin: 10px;" class="btn btn-success active" routerLink="/products" >Назад</button>
			<button style="width: 100px; margin: 10px;" class="btn btn-danger active" (click)="logout()">Выход</button>
		</div>
		
	</body>
</html>
