<a role="button" routerLinkActive="active" (click)='exit()'>Выйти</a>
<div class="container h-100">
	<div style="position: relative;">
	  <div>
		<label style="font-size: 20px;">Id :  </label> <label style="font-size: 15px;"> {{order.id}} </label>
	  </div>
	  <div>
		<label style="font-size: 20px;">Номер пользователя :  </label> <label style="font-size: 15px;"> {{order.userid}} </label>
	  </div>
	  <div>
		<label style="font-size: 20px;">Номер продукта :  </label> <label style="font-size: 15px;"> {{order.productid}} </label>
	  </div>
	  <div>
		<label style="font-size: 20px;">Количество :  </label> <label style="font-size: 15px;"> {{order.counter}} </label>
	  </div>
	</div>
</div>
<div style="display: flex; justify-content: center;" class="form-group">
	<a [routerLink]="['/order']" style="width: 100px; margin: 10px;" class="btn btn-primary active" role="button" routerLinkActive="active">Заказы</a>
	<a *ngIf="role" [routerLink]="['/order/change', order.id]" style="width: 100px; margin: 10px;" class="btn btn-primary active" role="button" routerLinkActive="active">Изменить</a>
</div>